<% layout("layouts/boilerplate") %>

<div class="row index-box">
    <div class="col-lg-8 col-md-10 col-sm-12  ms-auto me-auto mt-3">
      <h1>Please rate this product</h1>
        <form method="POST" action="/listings/<%=listing.id%>/review" novalidate class="form needs-validation" >
            <div class="mb-3">
              <fieldset class="starability-basic">
                <legend>First rating:</legend>
                <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
              </fieldset>
              <div class="invalid-feedback">Please enter a valid rating</div>
            </div>
            <div class="mb-3">
              <label for="comment" class="form-label">Comment</label>
              <textarea
                name="review[comment]"
                id="comment"
                placeholder="Share your experience"
                class="form-control"
                required
              ></textarea>
              <div class="invalid-feedback">Please enter a review</div>
            </div>
           
            
            <button type="submit" class="btn btn-dark mb-3 addBtn">Submit</button>
          </form>
    </div>
</div>
   